/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
.env
.env.backup
.env.production
.env.dusk.local
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/_task
composer.lock
package-lock.json
/public/mix-manifest.json
/public/sitemap.xml
/public/sitemaps
/public/courses.xml
/public/manifest.js
/public/vendor.js
/public/css
/public/fonts
/public/images
/public/js/*
!/public/js/ckfinder
/resources/views/tmp
/.phpunit.cache/*
/.run
